@layer utilities {
    .container {
        max-width: 1336px;
        margin: auto;
    }
    
    [type="button"] {
        cursor: pointer;
    }

    .router-link-active, .hash-active {
        color: var(--ui-text-highlighted);
    }
    
    /* Srcollbar styles */

    * {
        scroll-behavior: smooth;
    }
    ::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: theme('colors.neutral.500');
        border-radius: 3px;
        transition: background 0.2s ease;

        :hover {
            background: theme('colors.neutral.500');
        }

        :active {
            background: theme('colors.neutral.300');
        }
    }
    .dark {
        ::-webkit-scrollbar {
            width: 2px;
            height: 2px;
        }

        ::-webkit-scrollbar-track {
            background: transparent;
        }

        ::-webkit-scrollbar-thumb {
            background: theme('colors.gray.500');
            border-radius: 3px;

            :hover {
                background: theme('colors.gray.300');
            }
        }
    }
}