@theme {

  --color-green-50: #f0f9f4;
  --color-green-100: #d5f2e3;
  --color-green-200: #aee6ca;
  --color-green-300: #7edbb2;
  --color-green-400: #54ce9a;
  --color-green-500: #42b983;
  --color-green-600: #379f6f;
  --color-green-700: #2b865c;
  --color-green-800: #216c49;
  --color-green-900: #12392f;

}