@import "tailwindcss";
@import "@nuxt/ui";
@import "../scss/app.scss";
@import "../scss/typography.scss";
@import "../scss/animate.scss";
@import "../scss/theme-custom.scss";
@import "../scss/colors.scss" layer(base);

@theme {
  --font-display: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-body: "Poppins", sans-serif;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow-x-auto {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.snap-mandatory {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

:root {
  /* 2. Tell Nuxt UI to use your Be Vietnam Pro font */
  --ui-font-sans: var(--font-sans);

  /* 3. Keep your existing semantic UI mappings below this line */
  --ui-bg: var(--ui-color-neutral-50);
  --ui-text: var(--ui-color-neutral-900);
  /* ... rest of your root variables ... */
}

/* 4. Apply the fonts globally */
body {
  font-family: var(--font-sans);
  background-color: var(--ui-bg);
  color: var(--ui-text);
  @apply antialiased;
}

/* 5. Set Montserrat for all headers automatically */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
  font-weight: 700;
  margin-bottom: 1rem;
  @apply tracking-tight;
}

h1 {
  font-size: 2.5rem;
}

h1:first-letter {
  text-transform: capitalize
}

h2 {
  font-size: 1.5rem;
}

:root {
  --ui-bg: var(--ui-color-neutral-50);
  --ui-text: var(--ui-color-neutral-900);

  --ui-text-dimmed: var(--ui-color-neutral-400);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-toned: var(--ui-color-neutral-600);
  --ui-text: var(--ui-color-neutral-700);
  --ui-text-highlighted: var(--ui-color-neutral-900);
  --ui-text-inverted: var(--color-white);

  --ui-bg-muted: var(--ui-color-neutral-50);
  --ui-bg-elevated: var(--ui-color-neutral-100);
  --ui-bg-accented: var(--ui-color-neutral-200);
  --ui-bg-inverted: var(--ui-color-neutral-900);

  --ui-border-muted: var(--ui-color-neutral-200);
  --ui-border-accented: var(--ui-color-neutral-300);
  --ui-border-inverted: var(--ui-color-neutral-900);
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-border: var(--ui-color-neutral-900);

   --ui-text-dimmed: var(--ui-color-neutral-500);
  --ui-text-muted: var(--ui-color-neutral-400);
  --ui-text-toned: var(--ui-color-neutral-300);
  --ui-text: var(--ui-color-neutral-200);
  --ui-text-highlighted: var(--color-white);
  --ui-text-inverted: var(--ui-color-neutral-900);

  --ui-bg-muted: var(--ui-color-neutral-800);
  --ui-bg-elevated: var(--ui-color-neutral-800);
  --ui-bg-accented: var(--ui-color-neutral-700);
  --ui-bg-inverted: var(--color-white);

  --ui-border-muted: var(--ui-color-neutral-700);
  --ui-border-accented: var(--ui-color-neutral-700);
  --ui-border-inverted: var(--color-white);
}